gym==0.21.0
joblib==1.2.0
matplotlib==3.6.3
numpy==1.23.5
optuna==3.1.1
pandas==1.5.3
pybullet==3.2.5
PyYAML==6.0.1
rl_zoo3==1.8.0
scipy==1.11.2
stable_baselines3==1.8.0
torch==1.13.1
tqdm==4.64.1
wandb==0.15.9
